// Kuler theme: Complementary Shades,  by DanThomson92
// http://kuler.adobe.com/#themeID/1930041
$header-bg:     #263531;
$header-fg:     #D1D1D1;
$main-bg:       #D1D1D1;
$main-fg:       #35262E;
$link-fg:       #938884;
$headings-fg:   #5A7467;

body {
    background-color: $main-bg;
    color:            $main-fg;
}

.error {
    padding: 10px;
    background-color: #FFD2D2;
    border: 2px solid #F00;
}

header {
    background-color: $header-bg;
    color:            $header-fg;
}

footer {
    background-color: $header-bg;
    color:            $header-fg;
}
