/* {{{ tables */

.photos {
    table-layout: fixed;
    width: 100%;
    border: 2px solid $main-bg;
    margin: 20px 0px;
    border-collapse: collapse;
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
    background-color: #EEE;
}

.photos th {
      padding: 5px;
    background-color: lighten( $header-bg, 60);
}

.photos td {
      border: 1px solid #DDD;
      vertical-align: middle;
      padding: 0.3em 1em;
      overflow: hidden;
}

.th-image {
    width: 100px;
}

.th-name {
    width: 200px;
}

.th-size {
    width: 50px;
}

.th-caption {
    width: 250px;
}

.th-actions {
    width: 300px;
}

td a {
    float: left;
}

/* }}} tables */
