@charset "UTF-8";
@import "reset";
@import "print";
@import "forms";
@import "text";
@import "css3-mixins";
/* ==|== primary styles =====================================================*/
/* {{{ colors */
// Kuler theme: Complementary Shades,  by DanThomson92
// http://kuler.adobe.com/#themeID/1930041
$header-bg:     #263531;
$header-fg:     #D1D1D1;
$main-bg:       #D1D1D1;
$main-fg:       #35262E;
$headers-fg:    #938884;
$links-fg:      #5A7467;

// error messages
$error-bg: #FFD2D2;
$error-border: #F00;

// info messages
$info-bg: #F0F0F0;
$info-border: #8B9199;
/* }}} colors */

@import "tables";
@import "ui/buttons";
@import "ui/alerts";

/* {{{ header */
header {
    background-color: $header-bg;
    color:            $header-fg;
    overflow: hidden;
    border-bottom: 2px solid darken( $header-bg, 30% );
}

header form {
    float: right;
    margin: 15px;
}

header {
    @include box-shadow( 0px 2px 5px #555 );
    z-index: 1;
    height: 70px;
    overflow: hidden;
}

/* {{{ logo */
#logo h4 {
    color: darken( $main-bg, 20 );
    position: relative;
    top: -10px;
}

#logo, header p {
    float: left;
}


#logo {
    float: left;
    background-color: $header-bg;
    padding: 0px 5px;
    position: relative;
    left: -10px;
    border-top: 0px;
    font: small-caps 30px "BlanchCaps";
}

/* from: http://stackoverflow.com/questions/796087/make-a-div-into-a-link */
#logo a span { 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;

    /* edit: added z-index */
    z-index: 1;

    /* edit: fixes overlap error in IE7/8, make sure you have an empty gif */
    background-image: url('empty.gif');
}

#logo:hover {
    background-color: lighten( $header-bg, 10 );
}

#logo:active {
    background-color: lighten( $header-bg, 20 );
    top: +1px;
}

/* }}} logo */

/* }}} header */

/* {{{ footer */
footer {
    //background-color: $header-bg;
    color:            $main-fg;
    min-height: 100px;
    padding: 10px;
}

footer li {
    list-style: none outside none;
}

.footer-nav-left {
    float: left;
    width: 400px;
}

.footer-nav {
    float: right;
}

.upper-footer {
}

.lower-footer {
}

footer ul {
    float: left;
}
/* }}} footer */

html {
    height: 100%;
}

body {
    background-color: $main-bg;
    color:            $main-fg;
    height: 100%;
}
#main {
    // min-height
    // from: http://css-tricks.com/snippets/css/cross-browser-min-height/
    // except, removed important; it can lead to hard-to-find bugs
    // http://stackoverflow.com/questions/11179799/inner-div-100-height-not-working-inside-a-div-with-min-height
    min-height: 70%; 
    height: auto; 
    //height: 70%;
}

.inside {
    width: 80%;
    margin: auto;
}

textarea {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

fieldset {
    width: 80%;
    padding: 10px;
    border: 1px solid #AAA;
    margin: 10px;
}

h1, h2, {
    margin: 0px;
    font-family: "BlanchCaps";
}

h3 {
    margin: 0px;
    font-family: "BlanchCapsInline";
    font-size: 50px;
    font-weight: normal;
    width: 100%;
    text-shadow: 1px 1px 2px #6e6e6e;
    filter: dropshadow(color=#6e6e6e, offx=1, offy=1);
    width: 100%;
    position: relative;
    padding-left: 22px;
    left: -11px;
    background-color: lighten( $header-bg, 50% );
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    margin: 0px;
    font-family: "BlanchCondensed";
    font-size: 15px;
}

.first-word {
    color: lighten( $links-fg, 20 );
}

#actions {
    float: right;
}

#main .inside {
    background-color: #DDD;
    padding: 10px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    height: 100%;
    padding-bottom: 100px;
    @include box-shadow( 0px 2px 5px #888 );
}

.actions {
    padding: 10px 0px;
}

#file_name {
    background-color: #DDD;
}

.w200px {
    width: 200px;
}

.image {
    width: 200px;
    height: 200px;
    float: left;
    padding: 3px;
    border: 1px solid back;
    margin: 5px;
}

#image {
    width: 90%;
    max-height: 500px;
    overflow: auto;
}

form label { float: left; }

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@import "helpers";
/* vim: set foldmethod=marker: */
