/* {{{ ui - buttons */
// adapted from: http://hellohappy.org/css3-buttons/ 
//------------------------------------------------------------------------------
@mixin simple-button ( $base ) {
    //
    $dark-base: darken( $base, 13.5 ); // #EEE => #CCC
    $darker-base: darken( $base, 20 ); // #EEE => #BBB
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: $base;
    background-image: -moz-linear-gradient(center top , $base, $dark-base );
    border-color: $dark-base $dark-base $darker-base;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    @if lightness( $base ) < 50 {
        color: #EEE !important;
    } @else {
        color: #111 !important;
    }
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 0 1px 0 $base;
    text-decoration: none;
    padding: 8px 12px;
    margin: 5px;

    &:hover {
        background-color: darken( $base, 5.9 ); // #EEE => #dfdfdf ( ~ #DDDDDD );
        background-image: -moz-linear-gradient( center top , darken( $base, 5.9 ), $darker-base );
        border-color: $darker-base $darker-base darken( $base, 34 );
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        text-shadow: 0 1px 0 darken( $base, 5.9 );
    }

    &:active {
        $even_darker: darken( $base, 26.5 ); // #EEE => #AAA
        $darkest: darken( $base, 40 ); // #EEE => #888
        border-color: $even_darker $even_darker $darkest;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 0 5px 2px $even_darker inset, 0 1px 0 0 $base;
    }
}

.simple-button {
    @include simple-button( #EEE );
}
/* }}} ui - buttons */
